<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta description="Sitio dedidaco a al buceo. Todo lo que buscas del buceo lo encontraras aqui...">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
	<title>.:Escuela de Buceo:.</title>
	<script type="text/javascript" src="../static/js/modernizr2.8.3.js"></script>
	<script type="text/javascript" src="../static/js/estilos.js"></script>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/CSSPlugin.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/easing/EasePack.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenLite.min.js"></script>
</head>
<body>
	<header>
		
		<nav>
			<ul>
				<li>Inicio</li>
				<li>Cursos</li>
				<li>Viajes</li>
				<li>Contacto</li>
			</ul>
		</nav>
		<section id="home" data-type="parallax_section" data-speed="10">
			<article>
				<figure class="logo">
					<img <img src="../static/logos/oorca.logo.png" alt="Logotipo de OORCA" width="50%">
				</figure>
				<h1>Escuela de Buceo</h1>
				<h2>Existen mas aventuras en el buceo de las imaginables...</h2>
				<div id="izq">
					<button id="index">
						<h3>Lea nuestra historia</h3>
					</button>
				</div>
				<div id="dere">
					<button id="index">
						<h3>Encontrar una aventura</h3>
					</button>
				</div>
			</article>
		</section>
	</header>
	<section id="impor" data-type="parallax_section" data-speed="10">
		<article>
			<div class="geek"></div>
			<h2>¿Sabes la importancia de tomar un curso de buceo?</h2>
			<h4>DESCUBRELO HOY MISMO EH INICIA TU AVENTURA</h4>
		</article>
	</section>
	<section id="snsi" data-type="parallax_section" data-speed="10">
		<article>
			<div class="geek"></div>
			<h2>NUESTROS CURSOS ESTAN AVALADOS POR</h2>
			<img src="../static/logos/snsiLogo.png" alt="Logo de SNSI" width="100%">
			<h4>¿DESEAS CONOCER LOS BENEFICIOS DE PERTENECER A ESTA AGENCIA DE BUCEO?</h4>
			<button>
				Entra al sitio SNSI
			</button>
		</article>
	</section>
	<section id="section2" data-type="parallax_section" data-speed="10">
		<article>
			<div id="izq">
				<section id="cursVia">
					<h2>CURSOS</h2>
					<p>Contamos con una granvariedad de cursos, los cuales fueron creados para satisfacer los gustos mas exigentes</p>
					<button>Ir</button>
					<p>Ahora lo mas avanzado en enseñanza digital a tu alcance.</p>
				</section>
			</div>
			<div id="dere">
				<section id="cursVia">
					<h2>VIAJES</h2>
					<p>Hemos traido hasta ti los mejores lugares de México para que siguas disfrutando del buceo. No podras creer las maravillas que nuetros país tiene, solo en espera a que las descubras</p>
					<button>Ir</button>
				</section>
			</div>
		</article>
	</section>
	<section id="contacto" data-type="parallax_section" data-speed="10">
		<article id="datos">
			
			<h2>Enterate de información relacionada a CURSOS los mejores lugares para bucear en México y mucho mas...</h2>
			<h3>BOLETÍN DE NOTICIAS</h3>
			<ul>
				<li><label for="register-name">Nombre:</label>
			<input type="text" id="register-name" name="name"required aria-required="true"></li>
				<li><label for="email">e-Mail:</label>
			<input type="text" id="email" name="email" required aria-required="true"></li>
			</ul>
			
			<button>SUSCRIBETE</button>
		</article>
	</section>
	<footer>
		ImoXinc
	</footer>
</body>
</html>